.block {
	border: 0px solid #ccc;
}

.block .header {
	padding: 14px 15px;
	background: #DEDEDD;
	position: relative;
	min-height: 20px;
}

.block .header .block_action {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: .3;
}

.block .header:hover .block_action {
	opacity: 1;
}

.block .title {

}

/* block titles */
.block .title h2 {
	font-size: 18px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #605D5C;
	text-align: center;
}

.block .content {
	padding: 8px 10px;
}

#page-site-index #region-main h1 {
    background: #A31A7E;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0 30px 5px 0;
    padding: 17px 5px 18px;
    text-align: center;
    width: 170px;
}

/** some specific block styles for calendar block, login block, my profile block, etc. **/

.block_calendar_month table.minicalendar.calendartable td,.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
}

.block_calendar_month table.minicalendar {
    margin-bottom: 0px !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block_comments div.content li {
    list-style-type: none;
}

.questionbankwindow.block {
	padding: 0px;
}

.block_tree_box hr {
	background: transparent;
	border: none;
	border-top: 1px solid #eee;
}

/*quiz editing block header */
#page-mod-quiz-edit .questionbankwindow div.header {
	background-color: #eee;
	color: inherit;
}

#page-mod-quiz-edit .questionbankwindow div.header a {
	color: inherit;
}
